{% block sidebar %}

<!-- Sidebar Widgets Column -->
  <!-- pas$w0d390 -->
  <!-- might have to get rid of this part when deploying the application -->
    <div class="card my-4">
        <h5 class="card-header">About Us</h5>
        <div class="card-body">
            <p class="card-text"> This blog is made on the top of our Favourite full stack Framework 'Django!'
            a Python-based free and open-source web framework that follows the model-template-views architectural pattern. It is maintained by the Django Software Foundation.</p>
        </div>
    </div>
</div>

{% endblock sidebar %}
